body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #074a60;
  
}

.weddingCard {
  position: relative;
  max-width: 250px;
  width: 80%;

  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

#i1:hover 
{
     
}
.weddingCard:hover {

  /* transform: perspective(2500px) rotate(5deg); */
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
    
}

.weddingCard:hover .cardFront  {
  transform: rotateY(-160deg);
  filter: blur(2px);
}



.weddingCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}









.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.995);
}






.back {
  
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}
img
{
  height: 350px;
  width: 250px;
  background-position: center;
}

.fimg:hover
{
    color: gold;
}